@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      @apply scroll-smooth;
    }
  }